header{
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  background-color: bisque;
  flex-basis: auto;
  justify-content: center;
  font-size: 7vw;
  font-family: 'Varela Round', sans-serif;
  border: rgb(116, 10, 10) solid 2px;
  border-radius: 2vw;
  margin:1% 10% 1% 10%;

}


/* margin: 25px 50px 75px 100px;
top margin is 25px
right margin is 50px
bottom margin is 75px
left margin is 100px */